@use "abstracts" as *;

.footer-custom {
    position: fixed;
    bottom: 0;
    min-height: 3vh;
    margin: 0;
    width: 100%;
    text-align: center;
    background-color: transparent;
    display: flex;
    justify-content: center;
    color: $rk-dark-bg;
    font-size: $rk-small-size;
}