$rk-dark-bg: #182125;
$rk-dark-blue: #142635;
$rk-dark-blue-hover: #1e394f;
$rk-blue: #4DA1A9;
$rk-cyan: #79D7BE;
$rk-light-green: #D3E6C7;
$rk-soft-white: #d2d0cd;
$rk-light-white: #F6F4F0;
$rk-faded-gray: #9D9D9D;
$rk-orange: #FAD851;
$rk-violet: #A748BF;


$primary-color: #44BEA2;
$primary-faded-color: #81cab9;
$secondary-color:#2F549D;
$secondary-hover-color:#25417a;
$white-color: #E7E7E7;
$gray-color: #D3D3D3;
$black-color:#101914;
$red-color:#8A0526