@use "abstracts" as *;

.gradient-emphasis{
  background: linear-gradient(100deg, $rk-orange, $rk-violet);  /* Apply gradient */
  background-clip: text;  /* Clip the background to the text */
  -webkit-background-clip: text;  /* For Safari support */
  color: transparent !important;  /* Make the text color transparent */
}

body{
  background: rgb(214, 68, 68); // not changing not even with !important
}

.wrap-page{
  width: 100%;
  padding: 4rem;
}

h1{
  font-size: 44px;
  color: $rk-dark-bg;
  text-wrap: warp;
}

h2{
  font-size: $rk-medium-size;
  color: $rk-faded-gray;
}

.icon-custom{
  border: 1px solid $gray-color;
  border-left: 0px;
  border-radius: 4px 0 0 4px;
  padding: 0 0.2rem;
  width: auto;
  height: auto;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: $gray-color;
  color: rgb(66, 64, 64);
}

.icon-login-submit{
  font-size: 14px;
  padding-right: 0.4rem;
}

.input-group{
  display: grid;
  grid-template-columns: auto 1fr;
  margin: 1rem 0 1rem 0;
  height: 0.4rem;
  margin-top: 0.5rem;
}

.input-group input{
  border: 1px solid $gray-color;
  border-left: 0px;
  border-radius: 0 4px 4px 0;
  height: auto;
  font-size: $rk-small-size;
  background-color: $rk-light-white;
  margin: auto;
  display: flex;
  gap: 1rem;
}


.btn-custom{
  padding: 0.2rem 1rem;
  width: auto;
  text-align: center;
  color: $rk-light-white;
  font-size: $rk-small-size;
  border: 3px solid $rk-light-white;
  border-radius: 10px;
  background-color:$primary-color;
  &:hover {
    background-color: $primary-faded-color; // x2 - Color en hover
    cursor: pointer;
  }
  &.disabled{
    background-color: $primary-color;
    cursor: not-allowed;
  }
}

.not-selectable-text{
  user-select: none;
}

@media (max-width: $max_resolution_width) {
  .page-container{
    margin: 10vw 0 0 3rem;
  }

  body{
    overflow-x: hidden;
  }
}

