<img class="image-background" src="assets/images/bg-1.jpg">
<section class="page-base-layout">
  <span class="title-custom">
    <img src="assets/images/cross.png" alt="Logo" width="68" height="68">
    <h1><em>Farmacia Inventada</em></h1>
  </span>
  
  <div class="login-form login-form-custom">
    <div class="form-container">
      <h2>Inicio de Sesion</h2>
      <form #loginForm="ngForm" (ngSubmit)="onLogin()">
        <div class="input-group">
          <span class="icon-custom">
              <i class="icon-user"></i>
          </span>
          <input
            type="text"
            id="username"
            [(ngModel)]="username"
            name="username"
            placeholder="Usuario"
            required
          />
        </div>
        <br>
        <div class="input-group">
          <span class="icon-custom">
              <i class="icon-lock"></i>
          </span>
          <input
            type="password"
            id="password"
            [(ngModel)]="password"
            name="password"
            placeholder="Contraseña"
            required
          />
        </div>
        @if (errorMessage) {
          <span class="error-message">Usuario o contraseña incorrectos</span>
        }
        <br>
        <button class="btn-custom" type="submit" [disabled]="!loginForm.valid"> <i class="icon-login icon-login-submit"></i>  Iniciar sesión</button>
      </form>
    </div>
  </div>

</section>
  